<a href="https://colab.research.google.com/github/Sanket3002/ML_Projects/blob/main/Insurance_Premium_Prediction_using_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Insurance Premium Prediction using Linear Regression***

In [1]:
import pandas as pd
import numpy as np

In [2]:
ins = pd.read_csv(r"https://raw.githubusercontent.com/ybifoundation/Dataset/112b24fdc5b7cb055a1decf860c896797cfe2b86/Insurance%20Premium.csv")

## ***PreProcessing Data***

In [3]:
ins.head()

   ID  Age  Gender     BMI  Children Smoker Region  Premium
0   1   19  female  27.900         0    yes  south    16885
1   2   18    male  33.770         1     no   east     1726
2   3   28    male  33.000         3     no   east     4449
3   4   33    male  22.705         0     no   west    21984
4   5   32    male  28.880         0     no   west     3867

In [4]:
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1338 non-null   int64
 1   Age       1338 non-null   int64
 2   Gender    1338 non-null   object
 3   BMI       1338 non-null   float64
 4   Children  1338 non-null   int64
 5   Smoker    1338 non-null   object
 6   Region    1338 non-null   object
 7   Premium   1338 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 83.8+ KB

For every Dataset we have to check the following scenarios: 

1.   Missing value
2.   Categorical Data
3.   Scale effect
4.   Outliers

In [5]:
ins.describe()

                ID          Age          BMI     Children       Premium
count  1338.000000  1338.000000  1338.000000  1338.000000   1338.000000
mean    669.500000    39.207025    30.663397     1.094918  13270.414798
std     386.391641    14.049960     6.098187     1.205493  12110.012882
min       1.000000    18.000000    15.960000     0.000000   1122.000000
25%     335.250000    27.000000    26.296250     0.000000   4740.000000
50%     669.500000    39.000000    30.400000     1.000000   9382.000000
75%    1003.750000    51.000000    34.693750     2.000000  16640.000000
max    1338.000000    64.000000    53.130000     5.000000  63770.000000

In [6]:
ins.describe(include = 'all')
# By default it only shows numerical data
# 50% 2nd Qurtile is Median

,ID,Age,Gender,BMI,Children,Smoker,Region,Premium
count,1338.000000,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,NaN,2,NaN,NaN,2,4,NaN
top,NaN,NaN,male,NaN,NaN,no,east,NaN
freq,NaN,NaN,676,NaN,NaN,1064,364,NaN
mean,669.500000,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.414798
std,386.391641,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.012882
min,1.000000,18.000000,NaN,15.960000,0.000000,NaN,NaN,1122.000000
25%,335.250000,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.000000
50%,669.500000,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.000000
75%,1003.750000,51.000000,NaN,34.693750,2.000000,NaN,NaN,16640.000000
max,1338.000000,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.000000

In [7]:
ins.columns

Index(['ID', 'Age', 'Gender', 'BMI', 'Children', 'Smoker', 'Region',
       'Premium'],
      dtype='object')

In [8]:
ins[['Gender']].value_counts()

Gender
male      676
female    662
dtype: int64

# *Types of Data:*


*   Nominal e.g., Name,ID, etc 
      we don't do any operation on Nominal Data 


*   Ordinal: Data is in Order e.g., good<better<best   or hot<mild<cold 

*  Interval  e.g., celsius, farehnite this don't have absolute zero value we can't perform any operation on it 
*  Ratio e.g. Kelvin has absolute zero value and we also perform operation on it

# *Three types of Encoding:*

If Target varible is categorical the use **labelencoder**

if independent variable has ordinalencoder and dummy variable

In [9]:
# In Gender attribute always encode male as 0 and female as 1
ins.replace({'Gender' : {'male' : 0, 'female' : 1}},inplace = True)

In [10]:
ins[['Gender']].value_counts()

Gender
0         676
1         662
dtype: int64

In [11]:
ins[['Smoker']].value_counts()

Smoker
no        1064
yes        274
dtype: int64

In [12]:
ins.replace({'Smoker' : {'no' : 0,'yes' : 1}}, inplace = True)

In [13]:
ins[['Smoker']].value_counts()

Smoker
0         1064
1          274
dtype: int64

In [14]:
ins[['Region']].value_counts()

Region
east      364
south     325
west      325
north     324
dtype: int64

In [15]:
ins.replace({'Region':{'east' : 0,'south' : 1, 'west' : 2,'north' : 3}},inplace = True)

In [16]:
ins[['Region']].value_counts()

Region
0         364
1         325
2         325
3         324
dtype: int64

In [17]:
ins.head()

   ID  Age  Gender     BMI  Children  Smoker  Region  Premium
0   1   19       1  27.900         0       1       1    16885
1   2   18       0  33.770         1       0       0     1726
2   3   28       0  33.000         3       0       0     4449
3   4   33       0  22.705         0       0       2    21984
4   5   32       0  28.880         0       0       2     3867

In [18]:
ins.sample()
# Randomly gives any Row

      ID  Age  Gender   BMI  Children  Smoker  Region  Premium
965  966   35       0  27.1         1       0       1     4746

## ***Training Data***

In [19]:
y = ins['Premium']

In [20]:
X = ins.drop(['ID','Premium'],axis = 1)

In [21]:
X

      Age  Gender     BMI  Children  Smoker  Region
0      19       1  27.900         0       1       1
1      18       0  33.770         1       0       0
2      28       0  33.000         3       0       0
3      33       0  22.705         0       0       2
4      32       0  28.880         0       0       2
...   ...     ...     ...       ...     ...     ...
1333   50       0  30.970         3       0       2
1334   18       1  31.920         0       0       3
1335   18       1  36.850         0       0       0
1336   21       1  25.800         0       0       1
1337   61       1  29.070         0       1       2

[1338 rows x 6 columns]

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3 , random_state = 2529)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lr = LinearRegression()

In [26]:
lr.fit(X_train,y_train)

LinearRegression()

In [27]:
X.columns

Index(['Age', 'Gender', 'BMI', 'Children', 'Smoker', 'Region'], dtype='object')

In [28]:
lr.coef_

array([  261.3185468 ,  -135.47210091,   346.38152286,   422.00094529,
       24142.12837949,   471.32252643])

In [29]:
lr.intercept_

-13764.125066748444

In [30]:
y_pred = lr.predict(X_test)

In [31]:
from sklearn.metrics import mean_absolute_error

In [32]:
mean_absolute_error(y_test, y_pred)

4144.102070098662